@import "tailwindcss";
@import "@splidejs/react-splide/css";

@theme {
    /*Colors*/
    --color-primary: #ffaf21;
    --color-primary-100: #ddb966;
    --color-secondary: #050505;
    --color-secondary-100: #090909;
    --color-secondary-200: #111111;
    --color-white: #e8e7e4;
    --color-grey: #656b78;
    --color-grey-subtitle: #646878;
    --color-green: #266734;
    --color-gray-800: #222a39;

    /*Fonts*/
    --font-primary:
        "Mona Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";

    /*font sizes*/
    --text-h1: 3rem; /*48px*/
    --text-h2: 2rem; /*32px*/
    --text-h3: 1.5rem; /*24px*/
    --text-h4: 1rem; /*16px*/
    --text-h5: 0.875rem; /*14px*/
    --text-h6: 0.75rem; /*12px*/
    --text-subtitle-1: 1.125rem; /*18px*/
}

@font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: normal;
    src: url("/fonts/poppins/Poppins-Thin.wff2") format("wff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/poppins/Poppins-ExtraLight.woff2") format("wff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/poppins/Poppins-Light.woff2") format("wff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/poppins/Poppins-Regular.woff2") format("wff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/poppins/Poppins-Medium.woff2") format("wff2");
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins/Poppins-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins/Poppins-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", san-serif;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}
