---
import { cn } from "@utils/index";

interface Props {
    sectionName: string;
    class?: string;
    classInner?: string;
}

const { class: className, classInner, sectionName }: Props = Astro.props;
---

<section id={sectionName} class:list={cn("", className)}>
    <div class:list={cn("mx-auto lg:max-w-3xl px-4", classInner)}>
        <slot />
    </div>
</section>
